@page "/reservation"
@using GroupAssignment2.Data

<h4>Reservation Finder</h4>

<label>Code: </label>
<label>Airline: </label>
<label>Name: </label>
<button>Find reservations</button>

<h4>Reservations</h4>

<h4>Reserve</h4>
<label>Reservation code: </label>
<label>Flight code: </label>
<label>Airline: </label>
<label>Cost: </label>
<label>Name: </label>
<label>Citizenship</label>
<label>Status</label>
<button>Save</button>



@code {
	
	

}
